body{
    margin-left: 10%;
    margin-right: 10%;
    background-image: url(https://forums.x-plane.org/screenshots/monthly_08_2015/d5a5afea37c02d44efa977c89d15703b-a350_4.jpg);
}

.cabecera{
    width: 100%;
    text-align: center;
    border: 1px;
    border-style: solid;
    padding: 5px;
    background-color: lightyellow;
    opacity: 0.8;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.titulo{
    width: 100%;
}

.logo{
    float: left;
    padding-left: 50px;
}

h3{
    text-align: center;
}

.formulario{
    width: fit-content;
    max-width: 324px;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    margin: auto;
    background-color: lightgrey;
    padding: 10px;
    opacity: 0.9;
}

.intro, .bases{
    text-align: justify;
}

h1{
    text-align: left;
}

.bases{
    font-size: 10px;
}

img{
    max-width: 150px;
    max-height: auto;
    position: relative;
}

.botonBorrar{
    float: right;
}

.errores{
    color: red;
}